/* Ẩn credit của CanvasJS */
a.canvasjs-chart-credit {
    display: none;
}

/* Thiết lập box-sizing toàn cục để tính padding vào kích thước */
* {
    box-sizing: border-box;
}

/* Body căn giữa, không scroll ngoài */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

/* Container chính chứa controls và chart */
#container {
    width: 100%;
    height: 65vh;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    align-items: center;
}

/* Container của chart */
#chartContainer {
    flex-grow: 1;
    width: 100%;
    max-height: 65vh;
    overflow: hidden !important;
}


/* Phần điều khiển (dropdown + button) */
#controls {
    position: relative;
    z-index: 999;
    background: white;
    padding: 16px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Label in đậm */
#controls label {
    font-weight: bold;
    color: #555;
    margin-right: 12px;
    font-size: 18px;
}

/* Dropdown và button phóng to */
#intervalSelect,
#controls button {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #ffffff;
    min-height: 48px;
    line-height: 1.2;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 12px;
}

#intervalSelect:hover {
    background-color: #f1f1f1;
}

#intervalSelect option:hover {
    background-color: #e9ecef;
}

#controls button:hover {
    background-color: #f1f1f1;
}


/* Tiêu đề dưới biểu đồ */
#title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Các tùy chỉnh cho CanvasJS nếu cần */
.stock-chart {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.canvasjs-navigator-panel {
    top: 1000px !important;
}

canvasjs-chart-canvas {
    height: 100% !important;
}

/* .canvasjs-stock-container{
    max-height: 1000px;
} */